a:link {
    text-decoration: none;
    color: rgb(120, 120, 120);
}
a:visited {
    color: rgb(120, 120, 120);
}

a:hover{
    text-decoration: underline;
    color: rgb(120, 120, 120);
}
a:active {
    color: rgb(120, 120, 120);
}

#submit {
    background-color: rgb(50, 150, 255);
    border-radius: 2px;
    border-width: .05px;
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    margin-top: -3%;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

li {
    margin: 0px 10px 0px 10px;
}
.nav-bar {
    position: fixed;
    left: 0px;
    top: 20px;
    right: 10px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .75rem;
  

}
.nav-child-left {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px 0px 0px -40px;
        
}
.nav-child-right {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px 20px 0px 0px;
}

.signin {
    button: float-right;
    
}

#center {
    width: 100%;
    margin-top: 20%;

    display: flex;
        flex-direction: column;
    align-items: center;
    
    
            }

.search-bar {
    height: 47px;
    width: 400px;
    border-radius: 15px;
    font-size: 1.5rem;
    border-width: 1px;
    padding: 10px;
    
   
}


#buttons {
   
    display: flex;
    flex-direction: row;
    



}
#srchbtn {
    border: .5px;
    border-radius: 7px;
    padding: 15px 32px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(120, 120, 120);
    background-color: rgb(245, 245, 245);
    
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: .75rem;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    position: fixed;
    left: 0px;
    bottom: 0px;


}
.footer-child {
    list-style-type: none;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 280px;
}